doctype html
html(lang="en")
	head
		block meta
		block imports
			link(rel="stylesheet", href="css/styles.css")
			link( rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")
			script(integrity=	'sha256-XzAtNAF+kB7svgclO/61MZ+Sm/3IWjpY7RWe35DvABA=').
				var test = document.createElement("div")
				test.className = "hidden d-none"
				document.head.appendChild(test)
				var cssLoaded = window.getComputedStyle(test).display === "none"
				document.head.removeChild(test)
				if (!cssLoaded) {
						var link = document.createElement("link");
						link.type = "text/css";
						link.rel = "stylesheet";
						link.href = "css/bootstrap.min.css";
						document.head.appendChild(link);
				 }
	body
		block header
		block main
		block js
			script(src="https://cdn.jsdelivr.net/npm/bootstrap.native@3.0.0/dist/bootstrap-native.min.js" integrity="sha384-kvQSltvHvSg/3tzsKo6WscGmhSm10Tqg7f4Sn+okA4GdpCI/h8UjPpU/M4ea/z9V" crossorigin="anonymous")
			script(integrity="sha256-oWaNJ4LNTPFWiM2no6qscSlA9JBocpYs2m2CnJxGJ1M=").
				if(typeof(window.BSN) === 'undefined') {document.write('<script src="/js/bootstrap-native.min.js"><\/script>')}
