extends global

block main
	.jumbotron-fluid.vertical-center
		.container-fluid
			h1.display-4 Node JS Express Template
			p.lead Create secure and fast websites
			hr
			a.btn(role="button" href="/") Docs
