

.jumbotron-fluid{
/*     background-color:#03071e; */

    text-align:center;
    padding:2rem;
    border-color:whitesmoke !important;
    border-width:1rem !important
}

h1{
    color:#d00000;
    margin:2rem !important;
    font-size:4rem !important
}

.lead{
    color:#03071e;
    font-size:3rem !important;
  
}
.btn{
    background-color:#03071e !Important;
    color:#d00000!important;
    margin:2rem;
    font-size:4rem !important;
    border-radius:1rem !important;
    padding:2rem !important
}

.btn:hover{
    background-color:#d00000!important;
    color:#03071e!important
}

hr{
    border-top:.3rem solid #03071e !important;
    opacity:.5;
    margin:3rem 2rem 2rem 2rem!important;

}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}